@import url('https://fonts.googleapis.com/css?family=Nunito');

.App {
  font-family: 'Nunito', sans-serif;
  height: 100vh;
  background-color: #37474f;
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fafafa;
  font-size: 30px;
}

.top_row {
  display: flex;
  flex: 4;
  justify-content: space-around;
}

