.grill {
  box-sizing: content-box;
  border: 2px solid #fafafa;
  margin: 15px;
  position: relative;
  background-size: 40px 40px;
  background-image: linear-gradient(to right, #fafafa 1px, transparent 1px), linear-gradient(to bottom, #fafafa 1px, transparent 1px);
  background-color: #37474f
}