.item {
  box-sizing: border-box;
  border: 2px outset #fafafa;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Steak {
  font-size: 110px;
  background-color: rgb(173, 84, 66)
}

.Sausage {
  font-size: 60px;
  background-color: rgb(212, 172, 86)
}

.Veal {
  font-size: 80px;
  background-color: rgb(196, 109, 62)
}

.Tomato {
  font-size: 80px;
  background-color: rgb(255, 75, 39)
}