.options {
  padding: 30px;
  color: #fafafa;
  height: 90px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, .25);
  position: fixed;
  bottom: 0;
  width: 100vw;
  flex: 1;
  display: flex;
  align-self: flex-end;
  justify-content: space-around;
  align-items: center;
  background-color: #263238;
  min-width: 100%;
}

.options_select {
  font-family: 'Nunito', sans-serif;
  height: 80px;
  font-size: 60px;
  color: #fafafa;
  background-color: #263238;
  border-width: 1px;
  border-radius: 10px;
  padding-left: 15px;
}

.place_button {
  transition: color 0.5s ease;
  font-size: 60px;
}

.place_button:hover {
  cursor: pointer;
  color: #80d8ff
}

.options_third a {
  text-decoration: none;
  color: #fafafa;
}