.stock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.stock .item {
  position: relative;
  margin: 20px;
}

.stockItemGroup {
  display: flex;
}

.stockItemGroupAmount {
  font-size: 60px;
  color: #fafafb;
  align-self: flex-end;
}